@font-face {
  font-family: SfProRegular;
  font-display: swap;
  src: url('../fonts/FontsFree-Net-SFProDisplay-Regular.woff2') format('woff2'),
    url('../fonts/FontsFree-Net-SFProDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SfProSemiBold;
  font-display: swap;
  src: url('../fonts/FontsFree-Net-SFProDisplay-Semibold.woff2') format('woff2'),
    url('../fonts/FontsFree-Net-SFProDisplay-Semibold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
